@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    
}



.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index: 1000; /* Asegura que esté por encima del contenido */
    position: fixed; /* Hace que el navbar esté siempre visible */
    top: 0;
    width: 100%;
    background-color: white; /* Asegura que el fondo del navbar sea sólido */
    border-bottom: 1px solid #e2e8f0;
}

.custom-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.custom-hamburger {
    display: none;
}

.custom-nav-menu {
    font-family: "Poppins", sans-serif;
    
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.custom-nav-item {
    margin-left: 5rem;
}

.custom-nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.custom-nav-link:hover {
    color: #482ff7;
}

.custom-nav-logo {
    
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

/* Estilo para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .custom-nav-menu {
        
        font-size: 14px;
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.9s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        background-color: white; /* Fondo blanco sólido para el menú móvil */
        z-index: 999; /* Asegura que esté por encima del contenido de Bootstrap */
    }

    .custom-nav-menu.active {
        left: 0;
    }

    .custom-nav-item {
        margin: 2.5rem 0;
    }

    .custom-nav-item a{
        color: #595959;
        text-decoration: none;
        font-size: 14px;
    }

    .custom-hamburger {
        display: block;
        cursor: pointer;
    }

    .custom-hamburger.active .custom-bar:nth-child(2) {
        opacity: 0;
    }

    .custom-hamburger.active .custom-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .custom-hamburger.active .custom-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Añadido para evitar que el contenido se superponga al navbar */
body {
    padding-top: 70px; /* Desplaza el contenido para que no se superponga con el navbar */
}


































/* LAYOUT - MAKE IT WORK */
.banner {
    position: relative;
    background-color: #222;
  }
  
  .banner-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/familia-despreocupada-divirtiendose-mientras-muda-nuevo-hogar_637285-12376.avif) center center;
    background-size: cover;
    opacity: 0.5;
  }
  
  .primary-wrapper {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  
  .site-title {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size: 52px;
    margin: 0 0 20px;
  }
  
  .site-title a {
    color: #fff;
    text-decoration: none;
  }
  
  .site-tagline {
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 0 20%;
  }
  
  @media screen and (max-width: 700px) {
    .banner {
      .primary-wrapper {
        padding-top: 75px; /* Adjusted for mobile */
        padding-bottom: 75px; /* Adjusted for mobile */
      }
  
      .site-title {
        font-size: 36px; /* Adjusted for mobile */
      }
  
      .site-tagline {
        font-size: 12px; /* Adjusted for mobile */
        margin: 36px 6%;
      }
    }
  }





























  .btn-group .btn {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem; /* Aumenta el tamaño del texto */
    padding: 1rem 6rem; /* Aumenta el espacio interno (padding) */
    border-radius: 0.8rem; /* Bordes redondeados */
    color: #595959; /* Color del texto */
    border: 0px solid #595959; /* Borde transparente para mantener el espaciado */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave para los cambios de color */
    background-color: white;
    box-sizing: border-box;
    border-left: 1px solid #595959;
    font-weight: 600;
    ;
}


.btn-outline-primary {
  
  color: #007bff; /* Color del texto para el botón primario */
  border-color: #1f5186; /* Color del borde para el botón primario */
  background-color: white; /* Fondo transparente para el botón primario */
}
.btn-outline-primary:hover {
    background-color: #007bff; /* Fondo azul al pasar el ratón */
    color: white; /* Color del texto al pasar el ratón */
}





































  .cards-inicio-container {
    max-width: 1280px;
    margin: 3rem auto;
    padding: 1rem;
}

.cards-inicio-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
}

@media (max-width: 1140px) {
    .cards-inicio-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .cards-inicio-posts {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cards-inicio-post__image {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el área */
    background-position: center; /* Centra la imagen */
}

.cards-inicio-post__image:before, .cards-inicio-post__image:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.cards-inicio-post__image:after {
  background: linear-gradient(30deg, #042A4F 0%, #E65891 100%);
  background-size: 100% 300%;
  background-position: bottom left;
  opacity: 0.15;
  transition: 2s cubic-bezier(0, 0.6, 0.2, 1);
}

.cards-inicio-post__image--1:before {
    background-image: url(../img/D_NQ_NP_2X_749427-MLA77268531612_072024-O.webp);
    background-size: cover; /* Hace que la imagen cubra el contenedor */
    background-position: center; /* Centra la imagen */
}

.cards-inicio-post__image--2:before {
    background-image: url(../img/Amaralda-Departamentos-En-Venta-Residencial-Sur-de-Monterrey.jpg);
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-position: center; /* Centra la imagen */
}

.cards-inicio-post__content {
    margin: -3rem 1.5rem 0;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(42,42,42,.05);
    position: relative;
    z-index: 1;
    border: solid 1px;
    border-color: #e7e7e7;
    text-align: center;
}

.cards-inicio-post__inside {
    overflow: hidden;
    height: 22rem;
    transition: height 0.2s ease-in-out;
}

.cards-inicio-post__title {
    font-size: 1.35rem;
    line-height: 1;
    margin: 0 0 1rem;
    font-weight: 300;
    color: #042A4F;
}

.cards-inicio-post__excerpt {
  color: #595959;
  font-size: 14px;
  overflow: hidden;
  margin: 0;
  max-height: 6.25rem;
  position: relative;
}

.logo-cards {
  width: 70%;
  max-width: 110px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}























































.card-asesorcomercial-container {
  max-width: 1280px;
  margin: 3rem auto;
  padding: 4rem;
}

.card-asesorcomercial-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
}

@media (max-width: 1140px) {
  .card-asesorcomercial-posts {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .card-asesorcomercial-posts {
      grid-template-columns: repeat(1, 1fr);
  }
}

.card-asesorcomercial-post__image {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor sin perder proporciones */
  background-position: center; /* Centra la imagen */
}

.card-asesorcomercial-post__image:before, 
.card-asesorcomercial-post__image:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.card-asesorcomercial-post__image:after {
  background: linear-gradient(30deg, #042A4F 0%, #E65891 100%);
  background-size: 100% 300%;
  background-position: bottom left;
  opacity: 0.15;
  transition: 2s cubic-bezier(0, 0.6, 0.2, 1);
}

.card-asesorcomercial-post__image--1:before {
  background-image: url(../img/ejecutiva.jpg);
  background-size: cover; /* Asegura que la imagen se vea completa */
  background-position: center; /* Centra la imagen */
}

.card-asesorcomercial-post__content {
  margin: -3rem 1.5rem 0;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(42,42,42,.05);
  position: relative;
  z-index: 1;
  border: solid 1px;
  border-color: #e7e7e7;
  text-align: center;
}

.card-asesorcomercial-post__inside {
  overflow: hidden;
  height: 12rem;
  transition: height 0.2s ease-in-out;
}

.card-asesorcomercial-post__title {
  font-size: 3.65rem;
  line-height: 1;
  margin: 0 0 1rem;
  font-weight: 600;
  color: #1f5186;
}

.card-asesorcomercial-post__excerpt {
  color: #595959;
  font-size: 14px;
  overflow: hidden;
  margin: 0;
  max-height: 6.25rem;
  position: relative;
}

.logo-card-asesorcomercial {
  width: 70%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}












































.logo__inicio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f5186; /* Color de fondo similar al de la imagen */
    padding: 1rem;
    width: 100%;
    height: auto;
}

.logo__inicio-image {
    max-width: 100%;
    height: auto;
    width: 200px; /* Tamaño inicial para escritorio */
}

@media (max-width: 768px) {
    .logo__inicio-image {
        width: 150px; /* Ajuste de tamaño para dispositivos móviles */
    }
}








































.titulo__inicio {
  font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 4rem 0;
}

.titulo__inicio-asesor {
  font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: #333; /* Color para "ASESOR" */
    font-weight: bold;
}

.titulo__inicio-comercial {
    font-size: 2rem;
    color: #1f5186; /* Color para "COMERCIAL" */
    font-weight: bold;
}

/* Ajustes responsive para que "COMERCIAL" aparezca debajo de "ASESOR" en pantallas pequeñas */
@media (max-width: 768px) {
    .titulo__inicio-asesor,
    .titulo__inicio-comercial {
        font-size: 4rem;
        display: block; /* Fuerza que estén en líneas separadas */
    }
}








































































.our-services__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #333;
    font-size: 1.825rem;
    margin: 1.3rem 0;
  }
  
  .our-services__lead {
    max-width: 600px;
    margin: 1rem auto 1.5rem;
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  .our-services {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }
  
  .services-grid {
    display: flex;
    align-items: center;
  }
  
  .service {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    flex: 1;
    flex-wrap: wrap;
    border: 2px solid #e7e7e7;
    transition: all 0.3s ease;
  }
  
  .service:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  }
  
  .service__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #56ceba;
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem;
  }
  
  .service i {
    font-size: 2rem; /* Ajusta el tamaño según tus necesidades */
}
  .service__description {
    font-size: 0.9rem;
    margin: 1rem 0;
    line-height: 1.5;
  }
  
  .service1 i,
  .service1 .service__title,
  .service1 .cta {
    color: #42b7ca;
  }
  
  .service1:hover {
    border: 2px solid #42b7ca;
  }
  
  .service2 i,
  .service2 .service__title,
  .service2 .cta {
    color: #425fca;
  }
  
  .service2:hover {
    border: 2px solid #425fca;
  }
  
  .service3 i,
  .service3 .service__title,
  .service3 .cta {
    color: #9c42ca;
  }
  
  .service3:hover {
    border: 2px solid #9c42ca;
  }
  
  .cta {
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    display: block;
    color: #5b7abb;
  }
  
  .cta span {
    font-size: 0.6rem;
  }
  
  @media all and (max-width:900px) {
    .services-grid {
      flex-direction: column;
    }
  }
  





























































  









  .footer-container * {
    box-sizing: border-box;
  }
  
  .footer-container body {
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 19px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
  }
  
  /* El resto del código del footer */
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 19px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 19px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
    font-size: 19px;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 4px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 3em;
  }
  
  .footer a {
    font-size: 14px;
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
    flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    font-size: 18px;
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }  





  .fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    font-size: 25px;
    margin: 0px 22px 0px 0px;
  }




  .social-icon {
    font-size: 2.5rem; /* Ajusta el tamaño según tus necesidades */
    color: #333; /* Cambia el color según tus preferencias */
    text-decoration: none;

    
}

.social-icon:hover {
    color: #007bff; /* Cambia el color al pasar el mouse */
}
































































































.carousel-item{
  max-height: 250px;
  
}
.carousel-inner {
  border-radius: 4px 4px 0px 0px;
}






.card-alquiler-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-alquiler {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}

.card-alquiler-img {
  width: 100%;
  height: auto;
  grid-row: 1;
}

.card-alquiler-content {
  padding: 16px;
  display: grid;
  grid-template-rows: repeat(4, auto) 1fr auto;
  gap: 10px;
}

.card-alquiler-header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.card-alquiler-expenses {
  color: #888;
  font-size: 14px;
  margin-top: 4px;
}

.card-alquiler-location {
  margin-top: 8px;
  font-size: 16px;
  color: #555;
}

.card-alquiler-info {
  display: grid;
  grid-template-columns: 4fr 4fr;
  gap: 9px;
}

.card-alquiler-info div {
  font-size: 14px;
  color: #555;
}

.card-alquiler-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.card-alquiler-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-alquiler-agent-info {
  display: flex;
  align-items: center;
}

.card-alquiler-agent-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-alquiler-contact-buttons {
  display: flex;
  gap: 10px;
}

.card-alquiler-contact-buttons a {
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  border-radius: 50%;
  background-color: #ddd;
}

.card-alquiler-whatsapp {
  background-color: #25D366;
  color: white;
}
